@use 'variables' as v;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: v.$fuenteTexto;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: v.$negro;
}

[class*=__contenedor] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}